api-to-postgres-database-sixCFHiSPVw9kbbb.json
{"createdAt":"2023-09-16T23:11:35.843Z","updatedAt":"2023-09-17T02:00:29.686Z","id":"sixCFHiSPVw9kbbb","name":"API to Postgres Database","active":false,"nodes":[{"parameters":{},"name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[1980,1500],"id":"800c521c-1d7e-47eb-9718-2995617b88c8"},{"parameters":{"url":"https://datausa.io/api/data?drilldowns=Nation&measures=Population","options":{}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[2180,1500],"id":"be1162ec-2eb0-4af3-9a16-b7f66f17f48f"},{"parameters":{"values":{"string":[{"name":"ID Nation","value":"={{ $json.data[0]['ID Nation'] }}"},{"name":"Nation","value":"={{ $json.data[0].Nation }}"},{"name":"Year","value":"={{ $json.data[0].Year }}"},{"name":"Slug Nation","value":"={{ $json.data[0]['Slug Nation'] }}"}],"number":[{"name":"ID Year","value":"={{ $json.data[0]['ID Year'] }}"},{"name":"Population","value":"={{ $json.data[0].Population }}"}]},"options":{}},"name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[2400,1500],"notesInFlow":true,"id":"daebcf75-f045-453a-acd7-4a90f5c82d8f","notes":"Prepare data for database"},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"population_api","mode":"list","cachedResultName":"population_api"},"columns":{"mappingMode":"defineBelow","value":{"id_nation":"={{ $json['ID Nation'] }}","nation":"={{ $json.Nation }}","ID Year":"={{ $json['ID Year'] }}","year":"={{ $json.Year }}","population":"={{ $json.Population }}","slug_nation":"={{ $json['Slug Nation'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"id_nation","displayName":"id_nation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nation","displayName":"nation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID Year","displayName":"ID Year","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"year","displayName":"year","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"population","displayName":"population","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"slug_nation","displayName":"slug_nation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}]},"options":{}},"id":"6c9e350e-a720-402a-a926-f3603ca3f26a","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[2600,1500],"credentials":{"postgres":{"id":"6iMgkxy2K89eRStX","name":"Postgres Railway"}}}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"5dedf27c-a34c-43c8-93f4-3c92c06f3e88","triggerCount":0,"tags":[]}