bitly-link-shortner-H3WYdFmSPOOPpSI8.json
{"createdAt":"2023-10-28T22:29:26.175Z","updatedAt":"2023-11-07T17:29:03.500Z","id":"H3WYdFmSPOOPpSI8","name":"Bitly Link Shortner","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1S8TOyGy6KzHnE2eb6I3th63b-i6euvEQY7vHd7xaFZ8","mode":"list","cachedResultName":"Link Shortner","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S8TOyGy6KzHnE2eb6I3th63b-i6euvEQY7vHd7xaFZ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S8TOyGy6KzHnE2eb6I3th63b-i6euvEQY7vHd7xaFZ8/edit#gid=0"},"event":"rowAdded","options":{}},"id":"6a7f74e6-dbc2-4377-b768-511bf1e3e307","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[100,240],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"mu9JoiFc2PpTcRw1","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json['Created Status'] }}"}]}},"id":"31b97cb2-3a8a-4e89-b91e-da7ad007f7ae","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[300,240]},{"parameters":{"longUrl":"={{ $('IF').item.json.Links }}","additionalFields":{}},"id":"eeef2577-9290-42b1-9c1f-d6e6b299d3a6","name":"Bitly","type":"n8n-nodes-base.bitly","typeVersion":1,"position":[560,220],"credentials":{"bitlyApi":{"id":"1TsX41QT846X5yFf","name":"Bitly account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1S8TOyGy6KzHnE2eb6I3th63b-i6euvEQY7vHd7xaFZ8","mode":"list","cachedResultName":"Link Shortner","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S8TOyGy6KzHnE2eb6I3th63b-i6euvEQY7vHd7xaFZ8/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1S8TOyGy6KzHnE2eb6I3th63b-i6euvEQY7vHd7xaFZ8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Links":"={{ $json.long_url }}","Shortened Lnk":"={{ $json.link }}","Created Status":"Yes","Created Date":"={{ $now.setZone() }}"},"matchingColumns":["Links"],"schema":[{"id":"S/No","displayName":"S/No","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Name of Link","displayName":"Name of Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Links","displayName":"Links","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Shortened Lnk","displayName":"Shortened Lnk","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created Status","displayName":"Created Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Created Date","displayName":"Created Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}]},"options":{}},"id":"9dd2f3ee-c5ce-48c6-b6a9-23cd28117a8c","name":"Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.1,"position":[760,220],"credentials":{"googleSheetsOAuth2Api":{"id":"wYfqcRdmgt2uPeo9","name":"Google Sheets API"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Bitly","type":"main","index":0}]]},"Bitly":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1S8TOyGy6KzHnE2eb6I3th63b-i6euvEQY7vHd7xaFZ8","sheetId":"0","lastIndexChecked":3}},"meta":null,"pinData":{},"versionId":"b7aab549-8801-4018-9760-a8bcfa5a7129","triggerCount":1,"tags":[{"createdAt":"2023-10-28T22:45:21.515Z","updatedAt":"2023-10-28T22:45:21.515Z","id":"AHgOzbo4wAkfQMDM","name":"Google Sheet"}]}