clean_out_unwanted_emails_from_gmail-0nIAJWPHVzZUaX9t.json
{"createdAt":"2023-09-16T23:14:18.812Z","updatedAt":"2023-09-17T01:00:28.286Z","id":"0nIAJWPHVzZUaX9t","name":"Clean_out_unwanted_emails_from_Gmail","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[1880,1160],"typeVersion":1,"id":"e7468b2e-f734-4f1b-adcb-de4509e29f45"},{"parameters":{"operation":"getAll","filters":{"labelIds":["CATEGORY_PROMOTIONS","SPAM"]}},"id":"8003245a-c810-48fd-94cf-101d18108f72","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2100,1160],"credentials":{"gmailOAuth2":{"id":"PAuIVudQfeg6yJRA","name":"Gmail OAuth API"}}},{"parameters":{"operation":"delete","messageId":"={{ $json.id }}"},"id":"2e1b1304-aa41-4f48-badd-b9e6e3c288d9","name":"Delete Messages","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2320,1160],"credentials":{"gmailOAuth2":{"id":"PAuIVudQfeg6yJRA","name":"Gmail OAuth API"}}}],"connections":{"On clicking 'execute'":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Delete Messages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"abc79d11-49fa-4435-8f49-727435e5196e","triggerCount":0,"tags":[]}