collect-posts-from-twitter-and-send-to-airtable-j1kmSOapknhtFm7I.json
{"createdAt":"2023-09-17T04:13:53.720Z","updatedAt":"2023-09-17T04:50:29.941Z","id":"j1kmSOapknhtFm7I","name":"Collect posts from Twitter and send to Airtable","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,240],"typeVersion":1,"id":"3fd354cb-fa72-458b-b393-0c68b21b5395"},{"parameters":{"operation":"search","searchText":"tinubu","limit":10,"additionalFields":{"resultType":"mixed"}},"name":"Twitter","type":"n8n-nodes-base.twitter","position":[660,140],"typeVersion":1,"id":"363a4e07-f51c-414a-9604-0c438eb13dbb","credentials":{"twitterOAuth1Api":{"id":"BZpisEaeXGpRhpxQ","name":"Twitter OAuth account"}}},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Likes","value":"={{$node[\"Twitter\"].json[\"favorite_count\"] ? $node[\"Twitter\"].json[\"favorite_count\"] : 0 }}"}],"string":[{"name":"Tweet","value":"={{$node[\"get airtable list\"].json[\"fields\"][\"Tweet\"]}}"},{"name":"Tweet_id","value":"={{$node[\"get airtable list\"].json[\"fields\"][\"Tweet_id\"]}}"},{"name":"Tweet URL","value":"={{$node[\"get airtable list\"].json[\"fields\"][\"Tweet URL\"]}}"},{"name":"Author","value":"={{$node[\"get airtable list\"].json[\"fields\"][\"Author\"]}}"},{"name":"Time","value":"={{$node[\"get airtable list\"].json[\"fields\"][\"Time\"]}}"}]},"options":{"dotNotation":false}},"name":"Set_AT_list","type":"n8n-nodes-base.set","position":[920,340],"typeVersion":1,"id":"afc487d2-718c-4027-8f9b-dc871cb90fbb"},{"parameters":{"keepOnlySet":true,"values":{"number":[{"name":"Likes","value":"={{$node[\"Twitter\"].json[\"favorite_count\"]}}"}],"string":[{"name":"Tweet","value":"={{$node[\"Twitter\"].json[\"text\"]}}"},{"name":"Tweet_id","value":"={{$node[\"Twitter\"].json[\"id\"]}}"},{"name":"Tweet URL","value":"=https://twitter.com/{{$node[\"Twitter\"].json[\"user\"][\"screen_name\"]}}/status/{{$node[\"Twitter\"].json[\"id_str\"]}}"},{"name":"Author","value":"={{$node[\"Twitter\"].json[\"in_reply_to_screen_name\"]}}"},{"name":"Time","value":"={{$node[\"Twitter\"].json[\"created_at\"]}}"}]},"options":{"dotNotation":false}},"name":"set twitter data","type":"n8n-nodes-base.set","position":[920,140],"typeVersion":1,"id":"30f6e89c-6c3c-463b-9d57-3d2da0896178"},{"parameters":{"mode":"removeKeyMatches","propertyName1":"Tweet_id","propertyName2":"Tweet_id"},"name":"Leave only new tweets","type":"n8n-nodes-base.merge","position":[1200,240],"typeVersion":1,"id":"2965e5b8-1868-474a-8c6d-7da8256335e9"},{"parameters":{"authentication":"airtableOAuth2Api","resource":"base","operation":"getSchema","base":{"__rl":true,"value":"appAR6qye66caJfEV","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://airtable.com/appAR6qye66caJfEV"}},"id":"28c4553f-dec6-4bc4-9023-e8cbfd781e14","name":"Airtable","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[660,320],"credentials":{"airtableOAuth2Api":{"id":"rdWG9JHl6l3biyhv","name":"Airtable account"}}},{"parameters":{"authentication":"airtableOAuth2Api","operation":"upsert","base":{"__rl":true,"value":"appAR6qye66caJfEV","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://airtable.com/appAR6qye66caJfEV"},"table":{"__rl":true,"value":"tbltsQ6vBPTqtltni","mode":"list","cachedResultName":"Table 1","cachedResultUrl":"https://airtable.com/appAR6qye66caJfEV/tbltsQ6vBPTqtltni"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Notes","displayName":"Notes","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Assignee","displayName":"Assignee","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Todo","value":"Todo"},{"name":"In progress","value":"In progress"},{"name":"Done","value":"Done"}],"readOnly":false,"removed":false}]},"options":{}},"id":"ab461a4d-2850-4d7d-8489-a8b099ce667a","name":"Airtable1","type":"n8n-nodes-base.airtable","typeVersion":2,"position":[1420,240],"credentials":{"airtableOAuth2Api":{"id":"rdWG9JHl6l3biyhv","name":"Airtable account"}}}],"connections":{"Twitter":{"main":[[{"node":"set twitter data","type":"main","index":0}]]},"Set_AT_list":{"main":[[{"node":"Leave only new tweets","type":"main","index":1}]]},"set twitter data":{"main":[[{"node":"Leave only new tweets","type":"main","index":0}]]},"Leave only new tweets":{"main":[[{"node":"Airtable1","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Twitter","type":"main","index":0},{"node":"Airtable","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Set_AT_list","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f1f313a7-e2fb-41b6-ad96-aa128f09e530","triggerCount":0,"tags":[]}