create,-update,-and-get-a-post-in-ghost-UPse1QNXbOoCC34o.json
{"createdAt":"2023-09-17T03:21:07.756Z","updatedAt":"2023-09-17T03:24:36.944Z","id":"UPse1QNXbOoCC34o","name":"Create, update, and get a post in Ghost","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,240],"typeVersion":1,"id":"5233db2c-7c5e-43d8-af74-1995c8ac45ca"},{"parameters":{"source":"adminApi","operation":"create","title":"Running ghost with n8n!","content":"<p>In this article, you will learn how to automate your Ghost site with n8n!</p>","additionalFields":{}},"name":"Ghost","type":"n8n-nodes-base.ghost","position":[580,240],"typeVersion":1,"id":"c003c790-1eed-4a6d-ba48-77e0c7a071cd","credentials":{"ghostAdminApi":{"id":"VakWV3ytzoDOyNuh","name":"Ghost Admin API"}}},{"parameters":{"source":"adminApi","operation":"update","postId":"={{$node[\"Ghost\"].json[\"id\"]}}","updateFields":{"status":"published"}},"name":"Ghost1","type":"n8n-nodes-base.ghost","position":[780,240],"typeVersion":1,"id":"e6e91b8d-6bbb-4536-8767-28b58fcb47b0","credentials":{"ghostAdminApi":{"id":"VakWV3ytzoDOyNuh","name":"Ghost Admin API"}}},{"parameters":{"source":"adminApi","identifier":"={{$node[\"Ghost\"].json[\"id\"]}}","options":{}},"name":"Ghost2","type":"n8n-nodes-base.ghost","position":[980,240],"typeVersion":1,"id":"e8199661-da57-4ba2-be99-adc1e91aeb96","credentials":{"ghostAdminApi":{"id":"VakWV3ytzoDOyNuh","name":"Ghost Admin API"}}}],"connections":{"Ghost":{"main":[[{"node":"Ghost1","type":"main","index":0}]]},"Ghost1":{"main":[[{"node":"Ghost2","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Ghost","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"8f3e66b5-27c2-41eb-bb64-3cc519eae9de","triggerCount":0,"tags":[]}