export_sql_table_into_csv_file-ZpgGuYWAil20NNjT.json
{"createdAt":"2023-09-16T23:13:28.570Z","updatedAt":"2023-09-16T23:13:28.570Z","id":"ZpgGuYWAil20NNjT","name":"Export_SQL_table_into_CSV_file","active":false,"nodes":[{"parameters":{},"id":"9431cadf-2da0-4fb9-9593-26898fbd185a","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[980,1377.490142760027],"typeVersion":1},{"parameters":{"content":"## Save SQL table as a CSV file\n### You can send it via e-mail, upload to the file storage or download on your computer.\n### Just connect one or two extra n8n Nodes here!","height":317.4901427600272,"width":421.77430319510563},"id":"79abf1aa-b886-46b9-b039-63b5e12dbac1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1520,1220],"typeVersion":1},{"parameters":{"values":{"string":[{"name":"TableName","value":"dbo.[Population Data]"}]},"options":{}},"id":"f23a7913-af1a-46e7-9bdc-99d0ec3b74a2","name":"TableName","type":"n8n-nodes-base.set","position":[1200,1377.490142760027],"typeVersion":1},{"parameters":{"operation":"executeQuery","query":"=SELECT * FROM {{ $json[\"TableName\"] }}"},"id":"4435316f-3b15-4205-b5dd-300981b064bd","name":"LoadMSSQLData","type":"n8n-nodes-base.microsoftSql","position":[1380,1377.490142760027],"typeVersion":1,"credentials":{"microsoftSql":{"id":"i9oOHTER8ASNzM6T","name":"Microsoft SQL account"}}},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{"fileName":"={{ $('TableName').first().json.TableName }}.{{ $parameter[\"fileFormat\"] }}"}},"id":"c9b9f1b2-fea5-4173-bbc3-0573b927e93a","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[1640,1377.490142760027],"typeVersion":1}],"connections":{"TableName":{"main":[[{"node":"LoadMSSQLData","type":"main","index":0}]]},"LoadMSSQLData":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]},"When clicking \"Execute Workflow\"":{"main":[[{"node":"TableName","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"7a226d97-bfa9-4f24-adf3-2fb4e37883b4","triggerCount":0,"tags":[]}