export_sql_table_into_csv_file-ZpgGuYWAil20NNjT.json
{"createdAt":"2023-09-16T23:13:28.570Z","updatedAt":"2023-09-17T01:47:59.268Z","id":"ZpgGuYWAil20NNjT","name":"Export_SQL_table_into_CSV_file","active":false,"nodes":[{"parameters":{},"id":"9431cadf-2da0-4fb9-9593-26898fbd185a","name":"When clicking \"Execute Workflow\"","type":"n8n-nodes-base.manualTrigger","position":[980,1377.490142760027],"typeVersion":1},{"parameters":{"content":"## Save SQL table as a CSV file\n### You can send it via e-mail, upload to the file storage or download on your computer.\n### Just connect one or two extra n8n Nodes here!","height":317.4901427600272,"width":421.77430319510563},"id":"79abf1aa-b886-46b9-b039-63b5e12dbac1","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1520,1220],"typeVersion":1},{"parameters":{"operation":"toFile","fileFormat":"xlsx","options":{"fileName":"=Workflows.{{ $parameter[\"fileFormat\"] }}"}},"id":"c9b9f1b2-fea5-4173-bbc3-0573b927e93a","name":"SaveCSV","type":"n8n-nodes-base.spreadsheetFile","position":[1800,1380],"typeVersion":1},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"workflow_entity","mode":"list","cachedResultName":"workflow_entity"},"returnAll":true,"options":{}},"id":"a0fba411-ecce-4360-aae5-4a1cfbb69c04","name":"Postgres","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[1340,1380],"credentials":{"postgres":{"id":"6iMgkxy2K89eRStX","name":"Postgres Railway"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Workflow ID","value":"={{ $json.id }}"},{"name":"Workflow Name","value":"={{ $json.name }}"},{"name":"Status","value":"={{ $json.active }}"},{"name":"CreatedAt","value":"={{ $json.createdAt }}"},{"name":"UpdatedAt","value":"={{ $json.updatedAt }}"}]},"options":{}},"id":"8f633ef6-a549-4865-87d5-0499ee87f558","name":"Set","type":"n8n-nodes-base.set","typeVersion":2,"position":[1560,1380]}],"connections":{"When clicking \"Execute Workflow\"":{"main":[[{"node":"Postgres","type":"main","index":0}]]},"Postgres":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"SaveCSV","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"20b39f66-3b40-434f-9788-370fbf264c2b","triggerCount":0,"tags":[]}