google-sheet-to-gmail-Jcc07NS4SIvf6JuZ.json
{"createdAt":"2023-10-24T12:35:18.255Z","updatedAt":"2023-10-25T09:09:42.865Z","id":"Jcc07NS4SIvf6JuZ","name":"Google Sheet to Gmail","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1fFqUwzNS4vJ26-pFS3OYdHO2ta8PMLLsm5JPab1mTYU","mode":"list","cachedResultName":"O2C Master Data Template Email Recipients","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fFqUwzNS4vJ26-pFS3OYdHO2ta8PMLLsm5JPab1mTYU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":368986708,"mode":"list","cachedResultName":"Form Responses 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fFqUwzNS4vJ26-pFS3OYdHO2ta8PMLLsm5JPab1mTYU/edit#gid=368986708"},"event":"rowAdded","options":{}},"id":"4b30193e-1cf9-4139-aa4b-fc4938c140e1","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[180,280],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"mu9JoiFc2PpTcRw1","name":"Google Sheets Trigger account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json['Email Sent Status'] }}"}]}},"id":"f7a80530-f0f6-4774-a86d-e6ffabb70826","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[400,280]},{"parameters":{"batchSize":1,"options":{}},"id":"f665c806-a4d0-4017-adc3-90da6cb5dd7b","name":"Split In Batches","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[660,180]},{"parameters":{"sendTo":"={{ $json['Email Recipients'] }}","subject":"=New Customer Setup for {{ $json['Customer Name 1'] }}","options":{}},"id":"f758d7e6-4f7e-45ac-94c9-13e74d806af2","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[880,60],"credentials":{"gmailOAuth2":{"id":"PAuIVudQfeg6yJRA","name":"Gmail OAuth API"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"Split In Batches","type":"main","index":0}]]},"Split In Batches":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1fFqUwzNS4vJ26-pFS3OYdHO2ta8PMLLsm5JPab1mTYU","sheetId":368986708,"lastIndexChecked":2}},"meta":null,"pinData":{},"versionId":"7b226f34-0a4a-4dbd-8ff3-39de4c92615c","triggerCount":1,"tags":[]}