manage-projects-in-clockify-FCWphqP4H5HFPFFq.json
{"createdAt":"2023-09-17T04:58:32.633Z","updatedAt":"2023-09-17T04:58:32.633Z","id":"FCWphqP4H5HFPFFq","name":"Manage projects in Clockify","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,240],"typeVersion":1,"id":"9c5b13fc-9e55-4e33-ab4b-62e6e5a4da06"},{"parameters":{"operation":"getAll","workspaceId":"64c9ed4da169e66cd222fa93","additionalFields":{}},"name":"Clockify","type":"n8n-nodes-base.clockify","position":[580,240],"typeVersion":1,"id":"63838b01-3d90-4a59-bf96-3a17793dcd1d","credentials":{"clockifyApi":{"id":"nKd7V8NPAj6wQAr0","name":"Clockify account"}}},{"parameters":{"resource":"tag","workspaceId":"5f7af249d33ce12a712306dd","name":"docs"},"name":"Clockify1","type":"n8n-nodes-base.clockify","position":[780,240],"typeVersion":1,"id":"c1133822-47ea-4ced-bdf6-ee23dba38861"},{"parameters":{"resource":"timeEntry","workspaceId":"5f7af249d33ce12a712306dd","start":"2020-10-05T08:30:00.000Z","additionalFields":{"description":"Added Clockify Docs","end":"2020-10-05T09:30:00.000Z","tagIds":["5f7afbfc73610f56b88ee9ef"]}},"name":"Clockify2","type":"n8n-nodes-base.clockify","position":[980,240],"typeVersion":1,"id":"27a55eca-f289-429a-93a2-c2f2474fc9b6"},{"parameters":{"resource":"timeEntry","operation":"update","workspaceId":"5f7af249d33ce12a712306dd","timeEntryId":"={{$node[\"Clockify2\"].json[\"id\"]}}","updateFields":{"projectId":"={{$node[\"Clockify\"].json[\"id\"]}}"}},"name":"Clockify3","type":"n8n-nodes-base.clockify","position":[1180,240],"typeVersion":1,"id":"66ca955a-35c2-427a-a361-ccc37cad68f7"}],"connections":{"Clockify":{"main":[[{"node":"Clockify1","type":"main","index":0}]]},"Clockify1":{"main":[[{"node":"Clockify2","type":"main","index":0}]]},"Clockify2":{"main":[[{"node":"Clockify3","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Clockify","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"518b3ec4-2dff-478f-8e9c-773501dd0db7","triggerCount":0,"tags":[]}