master-data-setup-communication-lVbfJuU0eraU3jkl.json
{"createdAt":"2023-09-19T19:17:42.481Z","updatedAt":"2023-10-28T19:21:26.764Z","id":"lVbfJuU0eraU3jkl","name":"Master Data Setup Communication","active":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1aDLvigaGlpNGU8gNL41kUUnF1_rAKuthWwSrT-SCmtA","mode":"list","cachedResultName":"Master Data Template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aDLvigaGlpNGU8gNL41kUUnF1_rAKuthWwSrT-SCmtA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1307247719,"mode":"list","cachedResultName":"Form Responses 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1aDLvigaGlpNGU8gNL41kUUnF1_rAKuthWwSrT-SCmtA/edit#gid=1307247719"},"event":"rowAdded","options":{}},"id":"040a7688-d06f-48b6-be27-6bc54ca6d356","name":"Google Sheets Trigger","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[420,440],"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"mu9JoiFc2PpTcRw1","name":"Google Sheets Trigger account"}}},{"parameters":{"sendTo":"={{ $json['Email To'] }}","subject":"=TEST-Important: New Customer Setup ({{$json['Customer Name 1']}})\n","message":"=Dear Team,\n\nWe are in the process of setting up a new customer {{ $json['Customer Name 1'] }}. To ensure a smooth and accurate setup, we require specific information related to this new customer.\n\nCredit Limit Information:\nCredit Limit (Beverage): Please specify the amount and any related conditions.\nCredit Limit (HPC): Please provide the credit limit details for Home & Personal Care products, if applicable.\nCredit Limit (Key Account): If the customer is classified as a key account, please provide the credit limit specifics and related parameters.\n\nPlease validate if the following information for this customer is accurate:\nCustomer Name:  {{ $json['Customer Name 1'] }}\nCustomer Address: {{$json[\"Customer Address\"]}}\nReconciliation Account: {{ $json[\"Reconciliation GL\"] }}\nDistribution Channel: {{ $json[\"Distribution Channel\"] }}\n\nIf you have any questions or need further clarifications, please do not hesitate to reach out to masterdata@sevenup.org. We aim to finalize the master data setup in the next 12 hours, so a timely response will ensure we stay on track.\n\nThank you for your understanding and cooperation.\n\nWarm regards,\n\nMaster Data Team ","options":{"bccList":"={{ $json['Email Cc'] }}"}},"id":"34157ec3-a8c5-4e3c-ab0e-3f6d77b8108c","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[1260,440],"credentials":{"gmailOAuth2":{"id":"PAuIVudQfeg6yJRA","name":"Gmail OAuth API"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"Customer Name 1","value":"={{ $json['Customer Name 1'] }}"},{"name":"Customer Name 2","value":"={{ $json['Customer Name 2'] }}"},{"name":"Customer Address","value":"={{ $json.Address }}"},{"name":"Reconciliation GL","value":"={{ $json['Reconciliation GL'] }}"},{"name":"Distribution Channel","value":"={{ $json['Distribution Channel'] }}"},{"name":"Email To","value":"={{ $json.To }}"},{"name":"Email Cc","value":"={{ $json.Cc }}"}]},"options":{}},"id":"9eae869e-fd35-4d96-862d-d14f8c1338a0","name":"New Master Data Record","type":"n8n-nodes-base.set","typeVersion":2,"position":[1080,440]},{"parameters":{"operation":"sort","sortFieldsUi":{"sortField":[{"fieldName":"S/No","order":"descending"}]},"options":{}},"id":"9effde0f-1ee0-41df-9bf3-8e108834248b","name":"Item Lists","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[640,440]},{"parameters":{"operation":"limit"},"id":"96dab90f-a335-44cd-b20e-28b03fc7ba3d","name":"Item Lists1","type":"n8n-nodes-base.itemLists","typeVersion":3,"position":[860,440]}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Item Lists","type":"main","index":0}]]},"New Master Data Record":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Item Lists":{"main":[[{"node":"Item Lists1","type":"main","index":0}]]},"Item Lists1":{"main":[[{"node":"New Master Data Record","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1aDLvigaGlpNGU8gNL41kUUnF1_rAKuthWwSrT-SCmtA","sheetId":1307247719,"lastIndexChecked":4}},"meta":null,"pinData":{},"versionId":"bb70544d-91b6-4c95-ad6b-57da399d3694","triggerCount":1,"tags":[]}