receive-updates-from-telegram-and-send-an-image-th9YBHhv9dxeR1mk.json
{"createdAt":"2023-09-28T11:11:11.993Z","updatedAt":"2023-10-01T22:31:10.061Z","id":"th9YBHhv9dxeR1mk","name":"Receive updates from Telegram and send an image","active":false,"nodes":[{"parameters":{"url":"https://www.thecocktaildb.com/api/json/v1/1/random.php","options":{}},"name":"HTTP Request","type":"n8n-nodes-base.httpRequest","position":[580,240],"typeVersion":1,"id":"0b2c9afd-d99f-4c51-9b0d-54f5c1527821"},{"parameters":{"operation":"sendPhoto","chatId":"={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}","file":"={{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strDrinkThumb\"]}}","additionalFields":{"caption":"={{$node[\"HTTP Request\"].json[\"drinks\"][0][\"strDrink\"]}}","reply_to_message_id":"={{$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"]}}"}},"name":"Telegram","type":"n8n-nodes-base.telegram","position":[780,240],"typeVersion":1,"id":"c88a5533-8447-4500-9a3f-ef6a8fa91bd6","credentials":{"telegramApi":{"id":"sTd6UinHeRVEv74q","name":"Telegram account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"ec6467e2-163f-4a46-b48a-479d620f7a1e","name":"Telegram Trigger1","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[160,240],"webhookId":"ab5f99d8-b150-40e2-887e-7b8b696b675d","credentials":{"telegramApi":{"id":"sTd6UinHeRVEv74q","name":"Telegram account"}}}],"connections":{"HTTP Request":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"049fc7af-76f4-4758-8ca8-fc3fbc9a6093","triggerCount":0,"tags":[]}