sending-sms-to-users-zI5aG7W8K2W5hbjr.json
{"createdAt":"2023-09-23T22:36:24.790Z","updatedAt":"2023-09-23T22:36:24.790Z","id":"zI5aG7W8K2W5hbjr","name":"Sending SMS to users","active":false,"nodes":[{"parameters":{},"name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[380,240],"typeVersion":1,"id":"a4e2cbee-9b6d-4457-b558-a17eb401c140"},{"parameters":{"authentication":"airtableOAuth2Api","operation":"list","application":"","table":"","additionalOptions":{}},"name":"Airtable","type":"n8n-nodes-base.airtable","position":[580,240],"typeVersion":1,"id":"c0e2c9a8-e951-45aa-a55c-b6c112db376f","credentials":{"airtableOAuth2Api":{"id":"rdWG9JHl6l3biyhv","name":"Airtable account"}}},{"parameters":{"to":"={{$node[\"Airtable\"].json[\"fields\"][\"Number\"]}}","message":"=Hello, {{$node[\"Airtable\"].json[\"fields\"][\"Name\"]}}!\nSending this SMS from n8n!","options":{}},"name":"Twilio","type":"n8n-nodes-base.twilio","position":[780,240],"typeVersion":1,"id":"ac50c972-4d0d-458c-a3b8-8cc281de2913"}],"connections":{"Airtable":{"main":[[{"node":"Twilio","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Airtable","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"61b6067e-fd33-47d9-ab6c-724ed3c54fad","triggerCount":0,"tags":[]}