social-image-generator-renderform-H3Gk3cdAaevXNHPH.json
{"createdAt":"2023-09-17T11:46:14.618Z","updatedAt":"2023-09-19T21:43:57.942Z","id":"H3Gk3cdAaevXNHPH","name":"social-image-generator-renderform","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"8c2c2c1e-5adf-4537-9522-4ac07af6e52d","mode":"list","cachedResultName":"Social Image Generator","cachedResultUrl":"https://www.notion.so/8c2c2c1e5adf453795224ac07af6e52d"}},"id":"db893a62-d8c8-40ea-b67b-d29924e03865","name":"Notion trigger","type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[580,1407],"credentials":{"notionApi":{"id":"TYuQTj9R26RPCP1d","name":"Notion API"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.Position }}","operation":"isNotEmpty"},{"value1":"={{ $json.Name }}","operation":"isNotEmpty"},{"value1":"={{ $json.Topic }}","operation":"isNotEmpty"},{"value1":"={{ $json.Image[0] }}","operation":"isEmpty"}]}},"id":"68997e46-d1b5-4d24-9a99-dd44ebc50b81","name":"Filter out empty and finished records","type":"n8n-nodes-base.filter","typeVersion":1,"position":[800,1407]},{"parameters":{"method":"POST","url":"https://get.renderform.io/api/v2/render","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\"template\":\"high-ants-march-gladly-1162\",\"data\":{\"image.src\":\"{{ $json[\"Image\"][0] }}\",\"topic.text\":\"{{ $json[\"Topic\"] }}\",\"presenter.text\":\"{{ $json[\"Name\"] }}\",\"presenter_title.text\":\"{{ $json[\"Position\"] }}\"}}","options":{}},"id":"4305df24-c630-445e-abae-8afa96e26e91","name":"Generate image [RENDERFORM]","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1020,1407],"credentials":{"httpHeaderAuth":{"id":"7rX6oyWShxuX6Fru","name":"RenderForm API"}}},{"parameters":{"resource":"databasePage","operation":"update","pageId":{"__rl":true,"value":"={{ $('Notion trigger').item.json[\"id\"] }}","mode":"id","__regex":"^([0-9a-f]{8}-?[0-9a-f]{4}-?4[0-9a-f]{3}-?[89ab][0-9a-f]{3}-?[0-9a-f]{12})"},"propertiesUi":{"propertyValues":[{"key":"Social|files","fileUrls":{"fileUrl":[{"name":"social","url":"={{ $json.href }}"}]}}]},"options":{}},"id":"7b831a35-4f58-45eb-834f-0330205616d0","name":"Update records [NOTION]","type":"n8n-nodes-base.notion","typeVersion":2,"position":[1240,1407],"credentials":{"notionApi":{"id":"TYuQTj9R26RPCP1d","name":"Notion API"}}},{"parameters":{"content":"## Trigger\n\nWorkflow is activated every time database is updated (set polling time according to your needs). ","height":369.538552133761,"width":178.9116807727541},"id":"8c76a575-6ad3-45b3-b103-770565c5c81b","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[540,1221]},{"parameters":{"content":"## Filter\n\nFilter out items that already have generated social image or don't include complete data. ","height":369.538552133761,"width":178.9116807727541},"id":"90279589-be16-455e-8c35-1d844475bd59","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,1221]},{"parameters":{"content":"## Generate image and update database row\n\nThis sequence makes a call to [RenderForm](https://renderform.io/) API and updates specific row in Notion database. Remember to update your credentials and template parameters.","height":371.5385521337611,"width":432.9116807727541},"id":"0dd53891-3855-4040-ba82-64a1f19ab18d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[980,1220]},{"parameters":{"content":"## 🌐 API\n\nThis workflow is using RenderForm API - you can find documentation [here](https://renderform.io/docs/). ","height":127.88000524738811,"width":398.52076028843226},"id":"f5c21439-55b1-4a43-9c5f-31bae5956e52","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,1567]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=up2Wi3Y9a-4).\n2. Remember to add your credentials (covered in the video guide).\n3. Notion template (Social Image Generator) for this workflow available [here](https://shy-angelfish-d73.notion.site/e6bba80db7ce4e34a418058fd1d557ba?v=925a2be608cb44219b5730b621756705&pvs=4) (click \"duplicate\" to add template to your workspace).\n4. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":320.8800052473881,"width":398.52076028843226},"id":"3a924f33-d443-4a99-ab0c-9af7a34b372a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[100,1221]}],"connections":{"Notion trigger":{"main":[[{"node":"Filter out empty and finished records","type":"main","index":0}]]},"Filter out empty and finished records":{"main":[[{"node":"Generate image [RENDERFORM]","type":"main","index":0}]]},"Generate image [RENDERFORM]":{"main":[[{"node":"Update records [NOTION]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion trigger":{"lastTimeChecked":"2023-09-17T14:36:00.000Z","possibleDuplicates":["a793ff68-a197-49fb-8b6e-fc3f52eed86b"]}},"meta":null,"pinData":{},"versionId":"4edd748d-72e5-416d-a299-ac821f778360","triggerCount":1,"tags":[]}